@import url(destyle.css);

header {
    color:#fff;
    background-color:rgb(75, 150, 75);
    background-image: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 30px;
    text-align: center;
}

header h1 {
    font-size:3rem;
    font-weight: border;
}
@media (max-width:600px) {
    header {
        padding: 50px 30px;
    }
    header h1 {
        font-size: 1.5rem;
    }
}

div.link {
    text-align: center;
}
a.x {
    color: #00ccff;
    text-decoration: underline;
}
